SPRING_DATASOURCE_USERNAME=app
SPRING_DATASOURCE_PASSWORD=app

SPRING_AI_OPENAI_API_KEY=
AWS_S3_ENDPOINT=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=

KEYCLOAK_ISSUER_URI=
KEYCLOAK_CLIENT_SECRET=9imjpPy8evpLUJiwXaONUWsL38Io977W
KEYCLOAK_ADMIN_URL=http://localhost:8180/admin
#KEYCLOAK_ISSUER_URI=http://backend-keycloak-secto.vlxbym.easypanel.host/realms/secto-realm
#KEYCLOAK_CLIENT_SECRET=wUF7zwII4gr8BtKJmj7mrdNIes9bpYsn
#KEYCLOAK_ADMIN_URL=https://backend-keycloak-secto.vlxbym.easypanel.host/admin
KEYCLOAK_CLIENT_ID=backend-identity-service
KEYCLOAK_REALM=secto-realm
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin